; BPCNFG Configuration script for D-X Designs' P112, 256/512k RAM, 16/18 MHz
; <Banked B/P Bios System>

;-- Submenu 1 allows changes to be made in miscellaneous system parameters

1[			; Start w/Base Menu, go to Submenu 1
  2   START01,		;  Use START01.COM alias file.  Comma ends string.
   ;; NOTE: While the original P112 plans call for a 16.000 MHz Crystal,
   ;;       more precise baud rate generation, plus a little extra speed
   ;;       is obtained by using a 18.432 MHz Crystal.
   ;; Select one of the two following pairs, comment out the other
;;  4   18,,		; Set 18 MHz, Scale divisor (18.432 MHz recommended)
;;  3   46080,		;  Explicitly set for 18*2560
  4   16,,		; Set 16 MHz, Scale divisor (Crystal per Dave's plan)
  3   40000,		;  Explicitly set for 16*2500
  5  1, 2,		;  Set Wait States:  9 MHz --> Memory = 0,  IO = 1
			;		    18 MHz --> Memory = 1,  IO = 2
   ;; The following configures the contiguous system RAM size and allocation.
   ;; NOTE: This assumes 'bank' 0 occupied by image of Boot Flash ROM.
  6  Y			; "Hidden" Menu, "Y" acknowledging danger
   1  1,			; Base Bank of TPA
   2  3,			; First System Bank
   3  4,			; First User Bank
   4  5,			; First Bank of RAM Disk (Runs to Last)
   5  15,,			;  Last RAM Bank (7=256k,15=512k, 31=1MB)
 ]			;   and back to main menu

;-- Submenu 2 allows changes to be made to Character IO and IOByte Devices
;   Insure that the Console (COM1) Baud rate is set to that of your terminal

2[			; Start w/Base Menu, go to Submenu 2
  2  10,,,,,,,,		;  Set COM1 (Console) to 9600 bps, default settings
  3  10,,,,,,,,		;   Set COM2 to 9600 bps, default settings
 ]			;    and back to main menu

;-- Submenu 3 allows changes to be made in the Floppy Drive physical parameters

3[			; Start w/Base Menu, go to Submenu 3
  1 0 3,		; Set Drive, Unit 0  (3.5" Teac FDD 235-4xxx)
   D Y H		;  Double-Sided, Motor Needed, "High-Density"
   80, 3,  4, 240,	;   80 Trks, 3 mS Step,  4 mS Head Load, 240 mS Unload
  1 1 2,		; Set Drive, Unit 1,  (5.25" Teac FD-55FGV)
   D Y H		;  Double-Sided, Motor Needed, "High-Density"
   80, 3,  4, 240,	;   80 Trks, 3 mS Step,  4 mS Head Load, 240 mS Unload
  1 3 2,		; Set Drive, Unit 3,  (5.25" Teac FD-55B)
   D Y S		;  Double-Sided, Motor Needed, Standard Double-Density
   40, 4, 24, 240,	;   40 Trks, 4 mS Step, 24 mS Head Load, 240 mS Unload
 ]

;-- Submenu 4 allows changes to be made in Physical Hard Drive parameters

4[			; Start w/Base Menu, go to Submenu 4
; Set SCSI Controller Type for this configuration as:
;	0 = Owl
;	1 = Adaptec ACB-4000A
;	2 = Xebec 1410a/Shugart 1610-3
;	3 = Seagate SCSI
;	4 = Shugart 1610-4 (Minimal SCSI)
;	5 - Conner SCSI
;	6 - Quantum SCSI
;	7 - Maxtor SCSI
;	8 - Syquest SCSI
;	9 - GIDE (Generic IDE/ATA)

		; Sample SCSI config.  (Values of Trk/Hd/etc irrelevant)
  1 5			; Configure Controller to Type #5 (Conner SCSI)
  2 Y 0, 0,		; Set Unit 0 Params, Activate, Unit 0, LUN 0
  615, 4, 615, 615,	; Generic SCSI, 615 Trks, 4 Hds, RedWrt & Precomp @615
		; Sample IDE config.  NECESSARY if using GIDE.
;  1 9			; Configure Controller to Type (9 = GIDE)
;  2 Y 0,		; Set Unit 0 Params, Activate, Device 0 (IDE Master)
;  988, 10, 17,		; Toshiba 2.5" MK1422 Emulates 988 Trks,10 Hds,17 SPT
 ]

;-- Submenu 5 allows changes to be made to Hard and RAM Disk Logical
;--  parameters, and exchanging of logical drives.

5[			; Starting w/Base menu, go to Submenu 5
     ; Since the initial assembly places Floppies in A-D,
     ; swap them with the first four Hard Drive partitions.
     ; NOTE Comment these out if you have no Hard Drive, or are
     ;      re-configuring an image that has them already swapped!
  1 A E			;  swap floppies
  1 B F			;   A-D with
  1 C G			;    Hard Partitions
  1 D H			;     E-H

    ; Configure the Hard Drive partitions.
  2 A			; Configure Partition A:
   4,1024,   2, 498,0,	; 4k Allocs,  1024 Dirs, Start @    2, 498 Trks, Unit 0
  2 B			; Partition B:
   4,1024, 500,750,0,	;  4k Allocs, 1024 Dirs, Start @  500, 750 Trks,  U 0
  2 C			; Partition C:
   4,1024,1250, 750,0,	;  4k Allocs, 1024 Dirs, Start @ 1250, 750 Trks,  U 0
  2 D			; Partition D:
   4,1024,2000, 3206,0,	;  4k Allocs, 1024 Dirs, Start @ 2000, 3206 Trks, U 0

     ; A second drive is often useful.  Configure allocations here.
     ; NOTE: the Bios must be assembled to activate these drives, or
     ;       BPCNFG will abort.
  2 O			; Partition O:   (Backup Drive)
   4,1024,   2, 998,1,	;  4k Allocs, 1024 Dirs, Start @    2, 1000 Trks, U 1
  2 P			; Partition P:   (Backup Drive)
   4,1024,1000,1620,1,	;  4k Allocs, 1024 Dirs, Start @ 1000, 1635 Trks, U 1

     ; SUGGESTION: If you use the ZSDOS2 Hashed Directory feature, one way
     ;  is to build a primary partition with needed executables, then swap
     ;  it with the main A: drive, gaining the significantly faster access
     ;  and response.  For example, if the hashed drive is the partition
     ;  at D:, to use it as A: simply uncomment the following.

;  1 A D			; Swap Logical drives A: and D:.

    ; Configure the RAM Drive.
    ;  Each "Track" is a 4k increment, 8 "Tracks" per 32k memory bank.
    ;  Common memory complements for the P112 are 2-128k memory chips (256k),
    ;  1-512k chip (512k), and 2-512k chips (1024k).  If a User Bank is
    ;  defined, the space for RAM drive is reduced by 32k (8 'tracks).
  2 M			; Drive M:   (RAM Disk)
   2, 128,   0,  88,0,	;  2k Allocs,  128 Dirs, Start @ 0, 88 Trks (352k), U 0
        ;------ Alternatives for 2x128k, 1x512k and 2x512k RAM Chips ------
	;		   Alc  #Dirs  Start  #Trks  Unit   Cap   w/User Bank
	; 256k RAM	 :  2,    64,    0,    32,    0,   (128k,  24= 96k)
		;NOTE: For 512k or More RAM, the Flash is copied to RAM
		;	causing one 32k block to be unusable.
	; 512k RAM	 :  2,   128,    0,    96,    0,   (384k,  88=352k)
	; Max w/1 MB RAM :  2,   256,    0,   224,    0,   (896k, 216=864k)
 ]
