; BPCNFG Configuration script for D-X Designs' P112
;  <--BOOT TRACK Version-->
;-- Submenu 1 allows changes to be made in miscellaneous system parameters

1[			; Start w/Base Menu, go to Submenu 1
;  2   STARTUP,		;  Uncomment and change name for custom startup script.
                        ;  Comma ends string.
   ;; NOTE: While the original P112 plans call for a 16.000 MHz Crystal,
   ;;       more precise baud rate generation, plus a little extra speed
   ;;       is obtained by using a 18.432 MHz Crystal.
   ;; Select one of the two following pairs, comment out the other
;;  4   18,,		; Set 18 MHz, Scale divisor (18.432 MHz recommended)
;;  3   46080,		;  Explicitly set for 18*2560
  4   16,,		; Set 16 MHz, Scale divisor (Crystal per Dave's plan)
  3   40000,		;  Explicitly set for 16*2500
  5  1, 2,		;  Set Wait States:  9 MHz --> Memory = 0,  IO = 1
			;		    18 MHz --> Memory = 1,  IO = 2
   ;; The following configures the contiguous system RAM size and allocation.
   ;; NOTE: Memory configuration not needed in Boot version, commented out
   ;;       This layout assumes 'Bank' 0 occupied by image of Flash Boot ROM.
;  6   Y			; "Hidden" Menu, "Y" acknowledging danger
;    1  1,			; Base Bank of TPA
;    2  3,			; First System Bank
;    3  4,			; First User Bank
;    4  5,			; First Bank of RAM Disk (Extends to Last)
;    5  15,,			;  Last RAM Bank (7=256k,15=512k, 31=1MB)
 ]			;   and back to main menu

;-- Submenu 2 allows changes to be made to Character IO and IOByte Devices
;   Insure that the Console (COM1) Baud rate is set to that of your terminal

2[			; Start w/Base Menu, go to Submenu 2
  2  10,,,,,,,,		;  Set COM1 (Console) to 9600 bps, default settings
  3  10,,,,,,,,		;   Set COM2 to 9600 bps, default settings
 ]			;    and back to main menu

;-- Submenu 3 allows changes to be made in the Floppy Drive physical parameters

3[			; Start w/Base Menu, go to Submenu 3
  1 0 3,		; Set Drive, Unit 0  (3.5" Teac FDD 235-4xxx)
   D Y H		;  Double-Sided, Motor Needed, "High-Density"
   80, 4,  4, 240,	;   80 Trks, 4 mS Step,  4 mS Head Load, 240 mS Unload
  1 1 2,		; Set Drive, Unit 1  (5.25" Teac FDD 55FGV)
   D Y H		;  Double-Sided, Motor Needed, "High-Density"
   80, 4,  4, 240,	;   80 Trks, 4 mS Step,  4 mS Head Load, 240 mS Unload
 ]

;-- Submenu 4 allows changes to be made in Physical Hard Drive parameters

4[			; Start w/Base Menu, go to Submenu 4
; Set SCSI Controller Type for this configuration as:
;	0 = Owl
;	1 = Adaptec ACB-4000A
;	2 = Xebec 1410a/Shugart 1610-3
;	3 = Seagate SCSI
;	4 = Shugart 1610-4 (Minimal SCSI)
;	5 - Conner SCSI
;	6 - Quantum SCSI
;	7 - Maxtor SCSI
;	8 - Syquest SCSI
;	9 - GIDE (Generic IDE/ATA)
		; Sample SCSI config.  (Values of Trk/Hd/etc irrelevant)
  1 5			; Configure Controller to Type #5 (Conner SCSI)
  2 Y 0, 0,		; Set Unit 0 Params, Activate, Unit 0, LUN 0
  615, 4, 615, 615,	; Generic SCSI, 615 Trks, 4 Hds, RedWrt & Precomp @615
		; Sample IDE config.  (All values NECESSARY if using GIDE).
;  1 9			; Configure Controller to Type (9 = GIDE)
;  2 Y 0,		; Set Unit 0 Params, Activate, Device 0 (IDE Master)
;  988, 10, 17,		; Toshiba 2.5" MK1422 Emulates 988 Trks,10 Hds,17 SPT
 ]

;-- Submenu 5 allows changes to be made to Hard and RAM Disk Logical
;--  parameters, and exchanging of logical drives.

5[			; Starting w/Base menu, go to Submenu 5
    ; Configure the Hard Drive partitions. (Generally, Only two on Boot Disks)
  2 E			; Configure Partition E:
   4,1024,   2, 498,0,	; 4k Allocs,  1024 Dirs, Start @    2, 498 Trks, Unit 0
  2 F			; Partition F:
   4,1024, 500, 750,0,	;  4k Allocs, 1024 Dirs, Start @  500, 750 Trks, U 0
      ; Swap first HD partitions with Floppies only if going to Hard on boot
      ;  (Comment out swaps for Floppy-only operation)
;  1 A E
;  1 B F
 ]
