*.lst
*.sym
biosldr.rel
bnkbios3.spr
cpm3.sys
gencpm.com
gencpm.dat
startzpm.com
zccp.com
zinstal.zpm
zpmldr.com
setz3.com
clrhist.com
autotog.com
cpmldr.com
biosldrc.rel
biosldrd.rel
loader.bin
zpmldr.bin
