name: Commit Build

on:
  push:
    branches: 
      - '**'
    tags-ignore:
      - '**'

jobs:
  buildLinux:

    runs-on: ubuntu-latest

    steps:
      - name: Diag
        run: |
          echo GITHUB_REF: "$GITHUB_REF"
          env
    
      - uses: rlespinasse/github-slug-action@v4.4.1

      - uses: actions/checkout@v3.3.0

      - name: Build
        run: |
          export TZ='America/Los_Angeles'
          sudo apt-get install libncurses-dev
          sudo apt-get install srecord
          make dist
          rm -rf .git*

      - name: List Output
        run: |
          cd Binary
          ls -l
          find -type f -exec md5sum '{}' \;

      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: RomWBW-${{env.GITHUB_SHA_SHORT}}-Linux
          path: .

  buildMacOS:
    runs-on: macOS-latest

    steps:
      - uses: rlespinasse/github-slug-action@v4.4.1

      - uses: actions/checkout@v3.3.0

      - name: Build
        run: |
          export TZ='America/Los_Angeles'
          brew install srecord
          make dist
          rm -rf .git*

      - name: List Output
        run: |
          cd Binary
          ls -l
          find . -type f -exec md5 -r -- '{}' +;

      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: RomWBW-${{env.GITHUB_SHA_SHORT}}-MacOS
          path: .